/blur/blur
/cdparams/cdparams
/cdparams_other/cdparams_other
/cdparse/cdparse
/combine/combine
/distort/distort
/editsf/sfedit
/env/envel
/extend/extend
/filter/filter
/focus/focus
/formants/formants
/grain/grain
/hfperm/hfperm
/hilite/hilite
/houskeep/housekeep
/misc/diskspace
/misc/fixgobo
/misc/gobo
/misc/gobosee
/misc/histconv
/misc/listdate
/misc/logdate
/misc/maxsamp2
/misc/paudition
/misc/pdisplay
/misc/pmodify
/misc/progmach
/misc/pview
/misc/stretcha
/misc/tkusage
/misc/tkusage_other
/misc/vuform
/modify/modify
/morph/morph
/new/cantor
/new/ceracu
/new/chanphase
/new/filtrage
/new/fracture
/new/glisten
/new/isolate
/new/iterfof
/new/iterline
/new/iterlinef
/new/madrid
/new/newdelay
/new/newmorph
/new/newsynth
/new/newtex
/new/packet
/new/panorama
/new/rejoin
/new/selfsim
/new/sfecho
/new/shifter
/new/shrink
/new/silend
/new/specgrids
/new/specsphinx
/new/spectrum
/new/spectwin
/new/specvu
/new/subtract
/new/superaccu
/new/tangent
/new/transit
/new/tremolo
/new/tunevary
/pagrab/pagrab
/paview/paview
/pitch/pitch
/pitchinfo/pitchinfo
/pv/pvoc
/pview/pview
/repitch/repitch
/sfutils/dirsf
/sndinfo/sndinfo
/spec/spec
/specinfo/specinfo
/standalone/analjoin
/standalone/brktopi
/standalone/constrict
/standalone/envnu
/standalone/features
/standalone/flutter
/standalone/fofex
/standalone/frame
/standalone/freeze
/standalone/gate
/standalone/get_partials
/standalone/grainex
/standalone/hover
/standalone/manysil
/standalone/mchanpan
/standalone/mchanrev
/standalone/mchiter
/standalone/mchshred
/standalone/mchstereo
/standalone/mchzig
/standalone/mton
/standalone/multimix
/standalone/newmix
/standalone/oneform
/standalone/peak
/standalone/peakfind
/standalone/phase
/standalone/prefix
/standalone/psow
/standalone/ptobrk
/standalone/retime
/standalone/search
/standalone/spacedesign
/standalone/speclean
/standalone/specnu
/standalone/specross
/standalone/strans
/standalone/texmchan
/standalone/topantail2
/standalone/wrappage
/strange/strange
/stretch/stretch
/submix/submix
/synth/synth
/tabedit/columns
/tabedit/getcol
/tabedit/putcol
/tabedit/vectors
/texture/texture
/externals/fastconv/fastconv
/externals/reverb/reverb
/externals/reverb/rmresp
/externals/reverb/rmverb
/externals/reverb/tapdelay
